extends layout

block content 
  h1 Get started
  
  ol
    li Click the upload tab
    li On the page that loads, select files or paste text
    li Click "Upload"
    li Visit this page on the device you want to send files to
    li Click the download tab
    li Click the download button beside each file, or copy text
    
    p.note You can also upload files from the device you have the server running on by pasting them in the public/uploads directory. Uploads will appear in that directory, so you can copy them form there if you like.
