doctype html
html(lang="en")
  head
    title Transfer files & text with httptooth.js
    link(rel="stylesheet" href="/assets/picnic.min.css")
    link(rel="stylesheet" href="/assets/style.css")
  body
    header
      ul.flex
        li: a(href="/") Home
        li: a(href="/upload") Upload
        li: a(href="/download") Download
    .content.card
      if(msg)
        h2: span.msg.label(class=(success === true ? 'success' : 'warning'))=msg
      block content
      footer Powered by <a href="https://github.com/Nateowami/httptooth.js">httptooth.js</a> v1.0, written by <a href="https://github.com/Nateowami">Nathaniel Paulus</a>, licensed with the <a href="http://opensource.org/licenses/MIT">MIT</a>, and awaiting your contributions on <a href="https://github.com/Nateowami/httptooth.js">GitHub</a>.
